.tbc_selected {
    border: 1px solid gray;
}

.ly-work-tbc-tip {
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    color: #017455;
    font-size: 15px;
    text-align: center;
}

.ly-work-key {
    color:#91671c;
    font-weight:bold;
}

.ly-work-select {
    background-color: seagreen;
}