.ly-hotkey-high-light {
    color: #10f900;
}

.ly-hotkey-select {
    background-color: #252525 !important;
}

.ly-hotkey-box {
    position: fixed;
    top: 20px;
    width: 600px;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: hsla(240, 2%, 26%, 0.77) !important;
    backdrop-filter: blur(16px);
    /* box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4); */
    box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.5);
    z-index: 9999999999;
}

.ly-hotkey-tabs-input {
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 8px 10px;
    border: 0;
    margin-bottom: 5px;
    /* padding 向内扩展 */
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    /* background-color: transparent; */
    background-color: hsla(240, 3%, 12.9%, 0.35) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.ly-hotkey-tabs-tab {
    padding: 5px;
    font-size: 13px;
    position: relative;
    text-align: left;
}

.ly-hotkey-tabs-tab img {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ly-hotkey-tabs-name, .ly-hotkey-tabs-url{
    padding-left: 36px;
}

.ly-hotkey-tabs-name {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ly-hotkey-tabs-url {
    color: gray;
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 显示省略号 */
}

