.ly-hotkey-high-light {
    color: #10f900;
}

.ly-hotkey-select {
    background-color: #4f4c4c !important;
}

#ly-hotkey-tabs-div {
    position: fixed;
    top: 20px;
    width: 80%;
    left: 10%;
    max-height: 90%;
    padding: 10px;
    border-radius: 5px;
    /* background-color: rgba(255,255,255,0.6); */
    background-color:  hsla(240, 2%, 26%, 0.77) !important;
    backdrop-filter: blur(16px);
    /* box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4); */
    box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.5);
    z-index: 9999999999;
}

#ly-hotkey-tabs-input {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 0;
    /* padding 向内扩展 */
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    /* background-color: transparent; */
    background-color: hsla(240, 3%, 12.9%, 0.35) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

#ly-hotkey-tabs-id {
    overflow: auto;
    padding-top: 10px;
}

.ly-hotkey-tabs-tab {
    padding: 5px;
    font-size: 13px;
}
.ly-hotkey-tabs-name {
    
}
.ly-hotkey-tabs-url {
    color: gray;
}

